# Ignore .js files inside week folders

lab_programs/week1/**/*.js
lab_programs/week2/**/*.js
lab_programs/week3/**/*.js
lab_programs/week4/**/*.js

# Ignore .js files inside assignment_1
assignment_1/*.js
assignment_1/*/*.js